<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">

</head>
<body>

<div th:replace="fragments/header :: menu">

</div>

<div class="container">
    <h2>Détail de l'employé <span th:text="${emp.getMatricule()}"></span> </h2>
    <h2>Détail du [[${emp.className}]] [[${emp.matricule}]] </h2>
    <!--/*@thymesVar id="emp" type="com.ipiecoles.java.java320.model.Employe"*/-->

<!--    <form id="saveForm" action="http://localhost:8080/employes/commercial/6" method="post" class="row">-->


    <form id="saveForm" th:action="${emp.id} ? '/employes/' + ${emp.className.toLowerCase()} + '/' + ${emp.id} : '/employes'" method="post" class="row">

        <div class="col-lg-6">
            <div class="form-group">
                <label class="form-control-label" for="nom">Nom</label>

                <input type="text" value="Poirier" class="form-control" name="nom" id="nom" th:value="${emp.getNom()}">

                <label class="form-control-label" for="prenom">Prénom</label>
                <input type="text" value="Marie" class="form-control" name="prenom" id="prenom" th:value="${emp.getPrenom()}">

                <label class="form-control-label" for="matricule">Matricule</label>
                <input type="text" value="C00002" class="form-control" name="matricule" id="matricule" th:value="${emp.getMatricule()}">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label class="form-control-label" for="nom">Salaire</label>
                <div class="input-group">
                    <input type="number" value="2404.0" class="form-control" name="salaire" id="salaire" th:value="${emp.getSalaire()}">
                    <div class="input-group-append">
                        <span class="input-group-text">€</span>
                    </div>
                </div>

                <div th:if="${emp.id}!=null">
                    <label class="form-control-label" for="nom">Prime Annuelle</label>
                    <div class="input-group">
<!--                        <span th:text="${#numbers.formatCurrency(emp.primeAnnuelle)}"></span>-->
                        <input type="text" value="500.0" class="form-control" name="primeAnnuelle" id="primeAnnuelle" th:value="${emp.getPrimeAnnuelle()}">
                        <div class="input-group-append">
                            <span class="input-group-text">€</span>
                        </div>
                    </div>
                </div>

                <label class="form-control-label" for="nom">Date d'embauche</label>
                <input type="text" value="10/01/2011" class="form-control" name="dateEmbauche" id="dateEmbauche"
                       th:value="${#temporals.format(emp.getDateEmbauche(), 'dd/MM/YYYY')}"
                >
            </div>
        </div>










<!--        <div class="col-lg-6" th:if="${emp instanceof T(com.ipiecoles.java.java320.model.Commercial)}">-->
<!--            <label class="form-control-label" for="performance">Performance</label>-->
<!--            <input type="number" value="5" class="form-control" name="performance" id="performance"th:value="${emp.getPerformance()}">-->

<!--            <label class="form-control-label" for="caAnnuel">CA Annuel</label>-->
<!--            <div class="input-group">-->
<!--                <input type="number" value="0.0" class="form-control" name="caAnnuel" id="caAnnuel"th:value="${emp.getCaAnnuel()}">-->
<!--                <div class="input-group-append">-->
<!--                    <span class="input-group-text">€</span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div th:if="${#strings.equals(emp.className,'Commercial')}">test1</div>-->
<!--&lt;!&ndash;        <div th:if="${#strings.equals(employe.className, 'Commercial')}"></div>&ndash;&gt;-->

<!--        <div th:if="${emp instanceof T(com.ipiecoles.java.java320.model.Commercial)}">test2</div>-->
<!--&lt;!&ndash;        <div th:if="${employe instanceof T(com.ipiecoles.java.java320.model.Commercial)}"></div>&ndash;&gt;-->



<!--        <div th:if="${emp instanceof T(com.ipiecoles.java.java320.model.Commercial)}" class="col-lg-6">-->
<!--            <label class="form-control-label" for="performance">Performance</label>-->
<!--            <input type="number" th:value="${emp.performance}" class="form-control" name="performance" id="performance">-->
<!--            <label class="form-control-label" for="caAnnuel">CA Annuel</label>-->
<!--            <div class="input-group">-->
<!--                <input type="number" value="2404.0" th:value="${emp.caAnnuel}" class="form-control" name="caAnnuel" id="caAnnuel">-->
<!--                <div class="input-group-append">-->
<!--                    <span class="input-group-text">€</span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <div th:replace="fragments/menu :: commercial">
        </div>





<!--        <div class="col-lg-6" th:if="${emp instanceof T(com.ipiecoles.java.java320.model.Manager)}">-->
<!--            <label class="form-control-label" for="performance">Equipe</label>-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12">-->


<!--                    <ul class="list-group" th:each="tech : ${emp.getEquipe()}">-->
<!--                        <li class="list-group-item">-->
<!--                            <a href="http://localhost:8080/employes/10">-->
<!--                                <span th:text="${tech.prenom}">Mélissa</span>-->
<!--                                <span th:text="${tech.nom}">Rodriguez</span>-->
<!--                                <span class="badge badge-primary" th:text="${tech.matricule}">T00006</span>-->
<!--                            </a>-->



<!--                            <a href="http://localhost:8080/managers/5/techniciens/10/delete" class="btn btn-sm btn-danger float-right">-->
<!--                                <i class="fa fa-remove"></i>-->
<!--                            </a>-->
<!--                        </li>-->

<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


<!--        <div th:if="${emp instanceof T(com.ipiecoles.java.java320.model.Manager)}" class="col-lg-6">-->
<!--            <label class="form-control-label">Equipe</label>-->
<!--            <ul class="list-group">-->
<!--                <li class="list-group-item" th:each="tech : ${emp.equipe}">-->
<!--                    <a th:href="'/employes/' + ${tech.id}">-->
<!--                        <span th:text="${tech.prenom}"></span> <span th:text="${tech.nom}"></span>-->
<!--                        <span class="badge badge-primary float-right" th:text="${tech.matricule}"></span>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->

        <div th:replace="fragments/menu :: manager">
        </div>





<!--        <div class="col-lg-6" th:if="${emp instanceof T(com.ipiecoles.java.java320.model.Technicien)}">-->
<!--            <label class="form-control-label" for="grade">Grade</label>-->
<!--            <input type="number" value="18" class="form-control" name="grade" id="grade" th:value="${emp.grade}">-->
<!--            <div>-->
<!--                <label class="form-control-label">Manager</label>-->
<!--                <ul class="list-group">-->
<!--                    <li class="list-group-item">-->
<!--                        <a href="http://localhost:8080/techniciens/10/manager/delete" class="btn btn-sm btn-danger float-right"><i class="fa fa-remove"></i></a>-->
<!--                        <a href="http://localhost:8080/employes/5"><span>Benjamin</span> <span>David</span>-->
<!--                            <span class="badge badge-primary">M0001,</span></a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->



<!--        <div th:if="${emp instanceof T(com.ipiecoles.java.java320.model.Technicien)}" class="col-lg-6">-->
<!--            <label class="form-control-label" for="grade">Grade</label>-->
<!--            <input type="number" th:value="${emp.grade}" class="form-control" name="grade" id="grade">-->
<!--            <label class="form-control-label">Manager</label>-->
<!--            <ul class="list-group">-->
<!--                <li class="list-group-item" th:if="${emp.manager}">-->
<!--                    <a th:href="'/employes/' + ${emp.manager.id}">-->
<!--                        <span th:text="${emp.manager.prenom}"></span> <span th:text="${emp.manager.nom}"></span>-->
<!--                        <span class="badge badge-primary float-right" th:text="${emp.manager.matricule}"></span>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->

        <div th:replace="fragments/menu :: technicien">
        </div>









    </form>
    
    
    <div class="row mt-2">
        <div class="col-lg-6">
            <input form="saveForm" class="btn btn-primary" type="submit" value="Enregistrer">
            <a href="http://localhost:8080/employes/6/delete" class="btn btn-danger">Supprimer</a>
        </div>
    </div>
</div>


</body></html>